* {
    font-family: 'Ekkamai new';
   }
#delete-btn{
    float: right;
}
#listGruop2{
    margin-left: 10%; 
}
#myModal-warp{
  width: 100%;
  overflow-y: auto;
  background:white;
  box-shadow: 0 4px 8px 0 darkgrey, 0 6px 20px 0 darkgrey;
  border-radius: 2%;
}
#container{
  overflow-x: wrap;
    width: 100%;
    height: 100%;
    position: absolute;
}
#modal-title {
    font-size: 22px;
}

#modal-footer {
    justify-self: right;
    align-self: center;
}
