<div id="container">
  <div id="myModal-warp">
    <div class="modal-header">
      <h4 class="modal-title">edit</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">ชื่อหัวข้อ</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="head" [(ngModel)]="head">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">คำอธิบาย</label>
        <div class="col-sm-9">
          <textarea type="text" class="form-control" name="header" [(ngModel)]="description"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">รายการเอกสาร</label>
        <form>
          <div class="form-group col-sm-9">
              <input id="myInput" type="file" name="fileToUpload[]" id="fileToUpload"
                  (change)="onFileChange($event)" multiple>
          </div>
      </form>
      </div>

      <div class="listGrup">
        <div class="list-group row" id="listGruop2" *ngFor="let name of filename2 let i =index"
          (click)="deleteFile(i)">
          <div class="list-group-item list-group-item-action col-sm-10">{{name}}
            <button type="button" id="delete-btn" class="btn btn-light col-sm-2" >x</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeSave()">SAVE</button>
      <button type="button" class="btn btn-outline-dark" (click)="closeDelete()">DELETE</button>
    </div>
  </div>
</div>