* {
  font-family: 'Ekkamai new';
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.form-container{
    padding: 4%;
}
.form-upload{
    margin-bottom: 2%;
}
.form-button button{
    margin-right: 5px;
    margin-bottom: 15%; 
}
.form-button{
    display: block;
    text-align: center;
    margin: auto;
}
#format-doc{
    line-height: 30px;
    height: 30px;
    padding-top: 0px;
}
.card div:hover{
    color: #111;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .card{
    margin-top: 2%;
    width: 100%;
    float: left;
    margin-bottom: 2%;
  }
  .cover-container{
    width: 100%;
  }
  .alert{
    margin: 5px;
  }
  #delete-btn{
    float: right;
  }
  #listGruop{
    margin-left: 10%; 
  }
  #content{
    float: left;
    text-align: left;
  }
  #header{
    text-align: left;
  }
  #description{
    text-align: left;
  }
  .myModal .modal-dialog{
    max-width: 500px;
    max-height: 500;
    background: green;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .icon img{
    /* width: 10px; */
    height: 10%;
}
.show-list-file{
  float: left;
  text-align: left;
  margin-bottom: 1%;;
}
.show-list-file p{
  margin-top: 3%;
}
.show-list-file p{
  margin-top: 3%;
}
.card-body{
  width: 100%;
}
.each-file{
  width: 100%;
}
.container-cover{
  width: 100%;
}
.navbar-page ul{
  background: #66669a;
}


