<form action="action_page.php" method="post">
  <div class="imgcontainer">
    <img src="assets/images/login.jpg"  class="avatar">
  </div>
  <div class="modal-body">
    <div class="alert alert-danger alert-dismissible" *ngIf="show">
      <strong> User or Password Invalid! </strong>
    </div>
  </div>
  <div class="container">
    <label for="uname" ><b>Username</b></label>
    <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>

    <button (click) = "onClick()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>