<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://player.longtailvideo.com/jwplayer.js"></script>
<div class="container">
 
  <router-outlet></router-outlet>
  <!-- <app-home></app-home> -->
  <!-- <app-course-page></app-course-page> -->
  <!-- <app-searh-student></app-searh-student> -->
  <!-- <app-add-course></app-add-course> -->
  <!-- <app-video-player></app-video-player> -->
  <!-- <app-mainpage></app-mainpage> -->
  
</div>