* {
    font-family: 'Ekkamai new';
   }
.showvdo{
    /* background: green; */
    padding-right: 2%;
}
.vdoList-container{
    border: 1px solid #cb99cc;
    border-radius: 2%;
    padding-bottom: 10%;
}
.row{
    column-rule-color: lightblue;
    margin-top: 2%;
}
.header{
    margin: 3%;
    background: plum;
    color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
/* .header label{
    font-size: ;
} */

.allvdo{
    padding-left: 10%;
    overflow: auto;
}
.comment-container input{
    border-radius: 5rem;
}
.myCourse {
    list-style-type: none;
    /* padding: 1%; */
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    /* margin-bottom: 5%; */
    margin-top: 2%;
    z-index: 1;
}
.myCourse h3 {
    color: white;
    padding-left: 5%;
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
} 
.comment-container img{
    width: 70%;
    margin-left: 5%;
    text-align: center;
}
.comment-container{
    width: 70%;
}
.reply-comment{
    margin-left: 6%;
}
.reply-comment img{
    width: 50%;
}
.show-comment{
    margin: 2%;
    margin-top: 2%;
}
.user{
    font-weight:bold;
    font-size: 16px;
}
.msg{
    font-size: 16px;
}
  .button {
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    color: #66669a;
    background-color: #fff;
    border-color: #66669a;
    border-radius: 15px;
    border: 1px solid;
    margin: 1%;
  }
  .editlist{
      margin-left: 90%;
  }
  
  .button:hover {background-color: #66669a;
  color: #fff;
  border-color: none;
  }
  .glyphicon{
      color: white;
  }
  .glyphicon:hover{
    color: #66669a;
}